.slider {
  position: relative;
  height: 250px;
  width: 300px;
  display: flex;
  justify-self: center;
  align-items: center;
  margin: 2rem auto;
}

.slide {
  width: 300px;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: 200ms;
}

.slide.active {
  opacity: 1;
  transition-duration: 200ms;
  transform: scale(1.01);
}

.image {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  font-size: 2rem;
  color: grey;
  cursor: pointer;
  z-index: 10;
  user-select: none;
}

.left-arrow {
  left: -3.25rem;
}

.right-arrow {
  right: -3.25rem;
}

@media screen and (max-width: 500px) {
  .left-arrow {
    top: 110%;
    left: 5rem;
  }

  .right-arrow {
    top: 110%;
    right: 5rem;
  }
}
